$gotham: 'gotham', Arial, sans-serif;
$gothamMedium: 'gothamMedium', Arial, sans-serif;
$gothamLight: 'gothamLight', Arial, sans-serif;



$blue: #0FBCF9;
$yellow: #FAE445;
$dark-gray: #454C53;
$gray: #666665;
// $light-gray: #E5E5E5;
$light-gray: #B7B7B7;
