
@media screen and (max-width: 1220px) {
	.smart-orange-logo {
		top: -80px;
	}

	.footer-bottom {
		justify-content: space-between;
	}
	.footer__text_mr {
		margin-right: 0;
	}
}

@media screen and (max-width: 1023px) {
	.footer-clear {
		padding-bottom: 240px;
	}

	.footer__logo {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 0;
	}

	.smart-orange-logo {
		top: -80px;
	}

	.footer-bottom {
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer__text {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		line-height: 1.5;
	}
}
