.floor-wrap {
	display: none;
	width: 100%;
	padding: 10px 0 60px 0;
}

.floor-container {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
}

.floor-nav {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	&__text {
		color: $dark-gray;
	    font-family: $gotham;
	    font-size: 1rem;
	    margin-right: 10px;
	}
}

.floor-nav-list {
	display: flex;

	&__item {
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $dark-gray;
	    font-family: $gotham;
	    font-size: 1rem;
	    margin-right: 5px;
	    border-radius: 5px;
	    cursor: pointer;

	    &:last-child {
	    	margin-right: 0;
	    }

	    &_active {
			background-color: $blue;
			color: #fff;
	    }
	}
}

.floor {
	&__heading {
		padding-left: 40px;
		color: $dark-gray;
	    font-family: $gotham;
	    font-size: 1.2rem;
	    text-transform: uppercase;
	    line-height: 50px;
	    border-bottom: 2px solid $blue;
	    box-sizing: border-box;
	}

	&-svg {
		fill: transparent;
		stroke: transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&__polygon{
			transition: all 0.5s;
			z-index: 2;
			opacity: 0.3;

			&:hover {
				fill: $blue;
			}
		}

		&__rect {

			&_green {
				fill: #219277;
			}
			&_green_lighter {
				fill: #33D9B2;
			}
			&_yellow {
				fill: #D9973A;
			}
			&_yellow_lighter {
				fill: #FFB142;
			}
			&_dark-gray {
				fill: #303030;
			}
			&_dark-gray_lighter {
				fill: #606060;
			}
			&_gray {
				fill: #999;
			}
			&_gray_lighter {
				fill: #b2b2b2;
			}
		}

		&__text {
			fill: #000;
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			user-select: none;
			fill: #fff;

			.sup {
				vertical-align: super;
        		font-size: 0.5rem;
			}
		}
	}
}

.plan-wrap {
	position: relative;
	width: 100%;
	padding: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.flat-tooltip_big {
	position: absolute;
	top: 100px;
	left: 100px;
	padding: 10px 30px;
	padding: 10px 30px 10px 10px;
	background-color: #fff;
	border: 1px solid $light-gray;
	border-radius: 5px;
	box-sizing: border-box;
	z-index: 50;
	opacity: 1;
	user-select: none;
	display: flex;
	justify-content: space-between;
}
.flat-tooltip-num {
	margin-right: 25/260*100%;
	display: flex;
	flex-direction: column;

	&__rooms {
		width: 25px;
		height: 25px;
		border-radius: 25%;
		color: #fff;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $gothamMedium;
		font-size: 1rem;
		margin-bottom: 7px;

		&_green {
			background: #33D9B2;
		}
		&_yellow {
			background: #FFB142;
		}
		&_gray {
			background: $gray;
		}
		&_dark-gray {
			background: $dark-gray;
		}
	}

	&__num {
		font-family: $gotham;
		font-size: 14/16*1rem;
		color: $light-gray;
	}
}

.flat-tooltip-price {
	&__text {
		font-family: $gotham;
		font-size: 1rem;
		color: #000;
		white-space: nowrap;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}

		&_lower {
			font-size: 14/16*1rem;
		}

		&_gray {
			color: $gray;
		}
	}

	sup {
	    vertical-align: super;
	    font-size: 0.6rem;
	}
}

.zoom-button {
	&-wrap {
		position: absolute;
		bottom: 50px;
		right: 20px;
		width: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid $light-gray;
		border-radius: 5px;
	}

	&__button {
		width: 75%;
		height: 40px;
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		outline: none;

		&_plus {
			border-bottom: 1px solid $light-gray;
		}

		&:hover .zoom-button__icon {
			fill: $blue;
		}
	}

	&__icon {
		width: 100%;
		max-height: 15px;
		fill: $dark-gray;
		transition: all 0.3s;
	}
}