.floor-wrap {
	width: 100%;
	padding: 10px 0 60px 0;
}

.floor-container {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 50px;
	background-color: #fff;
	border-radius: 5px;
}

.floor {
	&__heading {
		padding-left: 40px;
		color: $dark-gray;
	    font-family: $gotham;
	    font-size: 1.2rem;
	    text-transform: uppercase;
	    line-height: 50px;
	    border-bottom: 2px solid $blue;
	    box-sizing: border-box;
	}

	&-svg {
		fill: transparent;
		stroke: transparent;
		position: absolute;
		top: 0;
		left: 0;

		&__polygon{
			transition: all 0.5s;
			z-index: 2;
			opacity: 0.3;

			&:hover {
				fill: $blue;
			}
		}

		&__rect {
			&_light {
				opacity: 0.5;
			}

			&_green {
				fill: #33D9B2;
			}
			&_yellow {
				fill: #FFB142;
			}
			&_dark-gray {
				fill: #84817A;
			}
			&_gray {
				fill: #D1CCC0;
			}
		}

		&__text {
			fill: #000;
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			user-select: none;

			&_white {
				fill: #fff;
			}
			&_black {
				fill: #000;
			}

			.sup {
				vertical-align: super;
        		font-size: 0.5rem;
			}
		}
	}
}

.plan-wrap {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.svg {
	&-wrap {
		position: relative;
		/*overflow: hidden;*/
	}
}

.flat-tooltip_big {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 30px;
	width: 100px;
	height: 50px;
	background-color: #fff;
	z-index: 50;
	opacity: 0;
	box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;
}

.zoom-button {
	&-wrap {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
	}

	&__button {
		padding: 0px 0;
		width: 50px;
		font-size: 3rem;
		margin-right: 15px;
	}
}