@media screen and (max-width: 1023px) {
	.profile-form {
		width: 100%;

		&-container {
			width: 90%;
		}	
		&-top {
			width: 100%;
		}
	}

	.profile-flat-slider-wrap {
		height: 270px;
	}
}

@media screen and (max-width: 699px) {
	.profile-flat-slider__button {
		width: 25px;
	}
}

@media screen and (max-width: 599px) {
	.location-list {
		.profile-location-list__item {
			padding: 0 10px;
		}

		.profile__home-icon {
			width: 25px;
			height: 25px;
		}
	}

	.profile-form-container {
		width: 96%;
		padding: 10px 10px 15px 10px;
		box-sizing: border-box;
	}
	.profile-form-top {
		margin-bottom: 10px;
		height: 25px;

		&__block {
			justify-content: center;
		}

		&__heading {
			margin-left: 0;
		}
	}
	.profile-form {
		flex-direction: column;

		&-block {
			width: 100%;
			margin-right: 0;
		}
	}

	.profile-flat {
		width: 96%;
		margin: 0 auto;
		border-right: 1px solid $light-gray;
		border-left: 1px solid $light-gray;
		border-radius: 10px;

		&-heading {
			margin-bottom: 15px;
		}

		&-container {
			flex-wrap: wrap;
		}
	}

	.profile-flat-slider {
		&-wrap {
			width: 100%;
			height: 250px;
			margin-bottom: 30px;
		}

		&__button {
			width: 25px;
		}

		&__image {
			width: 100%;
			min-height: 100%;
		}
	}

	.profile-flat-info {
		width: 100%;
		padding: 0;

		&__image {
			margin-bottom: 12px;
		}
	}
}

@media screen and (max-width: 450px) {
	.profile-flat-slider-wrap {
		height: 200px;
	}
}