
.residence__heading {
	text-align: center;
	font-size: 30/16*1rem;
	font-family: $gothamMedium;
	color: $blue;
	margin-bottom: 5px;
}
.residence__location {
	text-align: center;
	font-size: 14/16*1rem;
	font-family: $gotham;
	color: $dark-gray;
	margin-bottom: 25px;
}

.residence-main-content {
	width: 100%;
	border: 1px solid $light-gray;
	border-radius: 10px;
	background-color: #fff;
	padding: 45px 0 40px 0;
	margin-bottom: 40px;

	&-container {
		width: 1115/1200*100%;
		margin: 0 auto;
		padding-top: 25px;
	}

	&__heading {
		font-size: 18/16*1rem;
		font-family: $gothamMedium;
		color: $dark-gray;
		margin-bottom: 20px;
		text-transform: uppercase;

		&_lower {
			text-transform: none;
		}
	}

	// &__text {
	// 	font-size: 1rem;
	// 	font-family: $gotham;
	// 	color: $dark-gray;
	// 	line-height: 1.5;

	// 	&_mb {
	// 		margin-bottom: 25px;
	// 	}
	// }

	p {
		font-size: 1rem;
	    font-family: gotham,Arial,sans-serif;
	    color: #454c53;
	    line-height: 1.5;
	    margin-bottom: 10px;
	}
}

/*slider*/
.residence-top {
	width: 100%;
	height: 385px;
	display: flex;
}
.residence-slider {
	width: 100%;
	height: 100%;

	&-wrap {
		position: relative;
		width: 50%;
		height: 100%;
	}

	&__item {
		width: 50%;
		height: 100%;
		display: flex !important;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&-info {
		width: 307px;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,0.7);
		padding: 15px;
		box-sizing: border-box;

		&__item {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__text {
			color: #fff;
			font-size: 1rem;
			font-family: $gotham;
		}
	}

	&__button-prev {
		opacity: 0;
		left: 0;
	}
	&__button-next {
		right: 0;
	}

	/*slick-custom*/
    .slick-list {
        height: 100%;
    }
    .slick-slide {
        height: 100%;
    }
    .slick-track {
        height: 100%;
    }
    .slick-slide div {
        height: 100%;

    }
}
.one-image-box {
	width: 50%;
	overflow: hidden;
	position: relative;
	height: 100%;

	&__image {
		width: 100%;
		transform: scale(1.6);
		height: 100%;
	}
}
.many-image-box {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 7px;
	box-sizing: border-box;

	&__image-wrap {
		position: relative;
		max-height: 49.5%;
		width: 100%;
		margin-bottom: 7px;
		overflow: hidden;	
		cursor: pointer;

		&:nth-child(3) {
			margin-bottom: 0;
		}
		&:nth-child(4) {
			margin-bottom: 0;
		}

		&:hover .many-image-box__image_hover {
			top: 0;
		}
	}

	&__image {
		min-height: 100%;
		width: 100%;
	}

	&__image_hover {
		position: absolute;
		top: -100%;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.45);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.4s;
	}
}
.plus-icon {
	width: 50px;
	height: 50px;
	fill: #fff;
	transition: all 0.2s;

	&:hover {
		fill: $blue;
	}
}
/*end__slider*/

.residence-main-list_home {
	width: 975/1115*100%;
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;

	&__item {
		min-width: 30%;
		max-width: 30%;
		margin-bottom: 7px;
		margin-right: 48/975*100%;

		&:nth-child(3n) {
			margin-right: 0;
		}

		span {
			font-size: 1rem;
		    font-family: gotham,Arial,sans-serif;
		    color: #454c53;
		    line-height: 1.5;
		}
	}
}

.residence-main-list_yard {
	&__item {
		margin-bottom: 7px;

		span {
			font-size: 1rem;
		    font-family: gotham,Arial,sans-serif;
		    color: #454c53;
		    line-height: 1.5;
		}
	}
}

.residence-building-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.residence-building__item {
	margin-bottom: 40px;
	flex-wrap: wrap;
}
.residence-building__info {
	width: 100%;
}
.residence-building__link {
	width: 320/559*100%;
}

/*popup*/
.full-image {
	display: none;
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.9);
	z-index: 100;

	&-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 880px;
	}
}
.full-image-slider {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;

	&-wrap {
		position: relative;
		width: 100%;
		height: 450px;
	}

	&__item {
		width: 100%;
		height: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
	}

	&__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		outline: none;
		background-color: transparent;
		transition: all 0.8s;
		cursor: pointer;

		&-icon {
			width: 45px;
			height: 45px;
			fill: #fff;
			transition: all 0.2s;

			&:hover {
				fill: $blue;
			}

			&_revers {
				transform: rotate(-180deg);
			}
		}

		&-prev {
			left: -90px;
			/*&:hover {transform: translate(-10px, -50%);}*/
		}
		&-next {
			right: -90px;
			/*&:hover {transform: translateX(-5px, -50%);}*/
		}
	}

	/*slick-custom*/
    .slick-list {
        height: 100%;
    }
    .slick-slide {
        height: 100%;
    }
    .slick-track {
        height: 100%;
    }
    .slick-slide div {
        height: 100%;

    }
}

.full-image-slider-nav {
	width: 100%;
	/*height: 100%;*/
	height: 80px;

	&__item {
		width: 100%;
		height: 100%;
	}

	&__image {
		/*width: 100%;*/
		height: 100%;
		width: 93%;
		max-width: 95%;
	}

	/*slick-custom*/
    .slick-list {
        height: 100%;
    }
    .slick-slide {
        height: 100%;
    }
    .slick-track {
        height: 100%;
    }
    .slick-slide div {
        height: 100%;

    }
}

.full-image__cancel {
	position: absolute;
	top: -40px;
	right: -80px;
	width: 30px;
	height: 30px;
	fill: #fff;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		fill: $light-gray;
	}
}

.big-map {
	width: 100%;
	height: 100%;
	background-color: #999;
}
/*end__popup*/
