@media screen and (max-width: 1220px) {
	.home-slider-wrap {
		height: 235px;
	}
	.home-top-info-wrap {
		right: 6%;
	}
	.slide-info-list {
		left: 3%;
	}
	.slider__button-prev {
		left: 2%;
	}
	.slider__button-next {
		right: 2%;
	}
	.home-slider-container {
		width: 100%;
	}

	.residence-list {
		&__heading {
			letter-spacing: 0;
		}

		&__image-wrap {
			height: 200px;
		}

		&__item {
			padding-bottom: 15px;
			margin-right: 1.6%;
		}
	}
	.residence-list-info {
		&__text {
			font-size: 0.8rem;
			letter-spacing: 0;
		}
	}

	.home-filter__select, .filter_name, .range__text {
		font-size: 0.8rem;
	}

	.home-filter__button {
		width: 15%;
	}
}

@media screen and (max-width: 1023px) {
	.home-top {
		margin-bottom: 20px;
	}

	.home-slider-wrap {
		height: 190px;
	}
	.slider__button-prev {
		left: 0%;
	}
	.slider__button-next {
		right: 0%;
	}

	.home-top-info {
		padding: 8px;

		&-wrap {
			padding: 8px;
		}

		&__heading {
			font-size: 1.2rem;
		}
		&__text {
			font-size: 0.9rem;
			line-height: 1.2;
		}
	}

	.slide-info-list {
		&__heading {
			font-size: 1rem;
		}
		&__button {
			padding: 0 12px;
			line-height: 25px;
			font-size: 0.9rem;
		}
	}
	
	.home-filter {
		padding: 10px 0;
	}
	.home-filter__top {
		flex-wrap: wrap;
	}
	.home-filter-checkbox-wrap {
		width: 100%;
		margin-top: 20px;
		justify-content: center;
	}

	.residence-list {
		&__item {
			width: 45%;
			margin-right: 9.3%;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(3n) {
				margin-right: 2%;
			}
		}
	}
}

@media screen and (max-width: 599px) {
	.home-top-info {
		padding: 17px 3px 10px 12px;

		&-wrap {
			width: 85%;
			padding: 7px 10px;
			top: 20px;
			right: 50%;
			transform: translateX(50%);
		}

		&__heading {
			font-size: 1rem;
			padding-bottom: 3px;
			border-color: $dark-gray;
		}
		&__text {
			padding-left: 0;
			font-size: 11/16*1rem;
		}
		&__button {
			letter-spacing: 0;
		}
	}

	.home-slider-wrap {height: 250px;}
	.slider__button {top: 80%; z-index: 2;}

	.slide-info-list {
		top: 70%;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.home-filter__top {
		justify-content: flex-start;
		margin-bottom: 25px;
	}

	.home-filter__select-wrap {
		width: 30%;
		margin-bottom: 20px;
		padding-left: 10px;
		box-sizing: border-box;

		&:nth-child(3n) {
			width: 100%;
		}
	}

	.home-filter-checkbox {
		&-wrap {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding-left: 10px;
			margin-top: 0;
			box-sizing: border-box;
		}
	}
	.filter-checkbox-list {
		margin-top: 20px;
	}

	.home-filter__bottom {
		flex-wrap: wrap;
	}

	.home-filter__button {
		margin: 0;
		width: 30%;
		margin-bottom: 10px;
		line-height: 25px;

		&-wrap {flex-direction: column;}
	}

	.residence-list {
		&__item {
			width: 100%;
			margin-right: 0;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}