.flat {
	padding: 35px 0 31px;
	border: 1px solid $light-gray;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 45px;

	&__heading {
		font-family: $gothamMedium;
		color: $blue;
		text-align: center;
		font-size: 24/16*1rem;
		margin-bottom: 30px;
	}
}

.flat-container {
	width: 1100/1200*100%;
	margin: 0 auto;
}

.flat-top {
	display: flex;
	justify-content: space-between;
	padding-right: 71/1100*100%;
	margin-bottom: 70px;
	
	&-list {
		position: relative;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;

		&:after {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 0.9px;
			background-color: #000;
			content: "";
		}

		&-wrap {
			width: 245/1073*100%;
			display: flex;
			flex-direction: column;
			/*justify-content: space-between;*/
		}

		&__name {
			font-family: $gotham;
			color: $dark-gray;
			text-align: center;
			font-size: 1rem;
			margin-bottom: 12px;
			letter-spacing: 1px;
		}

		&__value {
			font-family: $gothamMedium;
			color: $dark-gray;
			text-align: center;
			font-size: 30/16*1rem;
			margin-bottom: 12px;

			&_no_margin {
				margin-bottom: 0;
			}
		}

		&__free {
			/*height: auto;*/
			margin-bottom: 30px;

			&:after {
				height: 80%;
			}
		}
	}

	&__image {
		max-width: 695/1100*100%;
		// width: 695/1100*100%;
		max-height: 342px;
	}
}


.flat-info {
	width: 100%;
	padding: 20px 55/1100*100% 30px 55/1100*100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;

	&__item {
		text-align: center;
	}

	&__name {
		font-family: $gotham;
		color: $dark-gray;
		text-align: center;
		font-size: 1rem;
		margin-bottom: 15px;
		letter-spacing: 1px;
	}

	&__value {
		font-family: $gothamMedium;
		color: $dark-gray;
		text-align: center;
		font-size: 20/16*1rem;
		letter-spacing: 2px;

		&-wrap {
			display: flex;
			align-items: center;
		}
	}

	&__color-box {
		margin-right: 10px;
	}
}

.flat-meter-wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	padding: 30px 0;
}
.flat-meter-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #000;
	padding: 30px 0;

	&__item {
		width: 210/1100*100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		margin-bottom: 15px;
		margin-right: 85/1100*100%;

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(4n) {
			margin-right: 0;
		}
	}

	&__name {
		font-family: $gothamMedium;
		color: $dark-gray;
		font-size: 1rem;
	}

	&__value {
		font-family: $gotham;
		color: $dark-gray;
		font-size: 1rem;
	}
}

.flat-buttons {
	display: flex;
	justify-content: center;
	padding-top: 31px;
	padding-bottom: 30px;

	&__item {
		display: flex;
		align-items: center;
		padding: 0 47/1100*100%;
		border-right: 1px solid $blue;

		&:hover .flat-buttons__icon {
			fill: $blue;
		}
		
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			border-right: none;
		}
	}

	&__icon {
		fill: $dark-gray;
		width: 23px;
		height: 23px;
		margin-right: 10px;
		transition: all 0.2s;
	}

	&__button {
		text-transform: none;
		line-height: 28px;
	}
}

/*booking flat*/
.booking-button {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 180px;
	display: flex;
	align-items: center;
	background-image: none;
	background-color: $orange;
	font-size: 14/16*1rem;
	line-height: 28px;
	color: #fff;
	border: 1px solid $orange;
	border-radius: 10px;
	text-shadow: 0.5px 0.5px 3px #000;

	&:after, &:before {
		display: none;
	}

	&__icon {
		width: 21px;
		height: 21px;
		fill: #fff;
		margin-right: 5px;

		&_big {
			width: 32px;
			height: 32px;
		}
	}

	&_big {
		width: 250px;
		line-height: 52px;
		font-size: 18/16*1rem;
	}
	&_margin_top {
		margin-top: 27px;
	}
	&_margin_bottom {
		margin-bottom: 30px;
	}
}
/*end__booking flat*/

/*flat-form*/
.flat-form-wrap {
	width: 100%;
	border-top: 1px solid #000;
	padding-top: 30px;
}

.flat-form {
	width: 775px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;

	&__input-wrap {
		width: 345/775*100%;
		margin-right: 5.3%;
		margin-bottom: 12px;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	
	&__button-wrap {
		position: relative;
		padding-top: 30px;
	}
	&__button {
		left: 0;
		transform: none;
		padding: 0 35px;
	}
	&__warning {
		position: absolute;
		left: 0;
		top: 5px;
		font-family: $gothamLight;
		font-size: 12/16*1rem;
		color: red;
	}

	&__link {
		display: inline-block;
		padding-bottom: 3px;
		border-bottom: 1px solid $blue;
		color: $blue;
		font-family: $gothamMedium;
		font-size: 1rem;
		margin-bottom: 11px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	&__text {
		color: $dark-gray;
		font-family: $gothamMedium;
		font-size: 1rem;
		margin-bottom: 5px;
		text-align: center;

		&:last-child {
			margin-bottom: 0;
		}

		&_light {
			font-family: $gothamLight;
			font-size: 12/16*1rem;
			color: #9DA0A4;
		}
	}
}
/*end__flat-form*/
