.header {
	position: relative;
	width: 100%;
	padding-top: 10px;
}

.logo__link {
	display: inline-block;
	width: 120px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.logo__image {
	width: 100%;
}

.header__nav {
	display: flex;
	justify-content: flex-end;
}

.nav {
	width: 100%;
	margin-bottom: 10px;

	&-list {
		/*width: 630/1200*100%;*/
		width: 835px;
		display: flex;
		align-items: center;

		&__item {
			position: relative;
			margin-right: 25/620*100%;

			&:after {
				position: absolute;
				bottom: 2px;
				right: -12px;
				width: 1px;
				height: 60%;
				background-color: #000;
				content: " ";
			}

			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
		}

		&__link {
			position: relative;
			font-size: 14/16*1rem;
			font-family: $gotham;
			text-transform: uppercase;
			color: #000;

			&:after {
				position: absolute;
				bottom: -3px;
				left: 0;
				height: 1px;
				width: 0%;
				background-color: $blue;
				content: " ";
				transition: all 0.4s;
			}
			&:hover:after {
				width: 100%;
			}

			&_active {
				&:after {
					width: 100%;
				}
			}
		}
	}
}

.header__button {
	line-height: 30px;
	font-size: 14/16*1rem;
	font-family: $gothamLight;
	margin-right: 10px;
	border-radius: 7px;
	text-transform: none;

	&:last-child {
		margin-right: 0;
	}

	&-wrap {
		float: right;
		clear: both;
		padding: 8px 0;
		display: flex;
		align-items: center;
	}
}

.header-content {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
/*favorite*/
.favorites-button {
	display: flex;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;

	&__icon {
		width: 15px;
		height: 15px;
		margin-right: 5px; 
		fill: $dark-gray;
		transition: all 0.2s;

		&_active {
			fill: $blue;
		}
	}

	&__text {
		font-size: 14/16*1rem;
		font-family: $gothamLight;
		color: $dark-gray;
		margin-right: 5px;
		transition: all 0.2s;
		margin-top: 2px;

		&_active {
			color: $blue;
		}
	}

	&__count {
		display: inline-block;
		// padding: 4px 6px 1px 6px;
		width: 15px;
		line-height: 15px;
		text-align: center;
		font-size: 10/16*1rem;
		font-family: $gothamLight;
		color: $dark-gray;
		border: 1px solid $dark-gray;
		border-radius: 50%;
		transition: all 0.2s;

		&_active {
			color: $blue;
			border-color: $blue;
		}
	}

	/*&:hover .favorites-button__icon {fill: $blue;}
	&:hover .favorites-button__text {color: $blue;}
	&:hover .favorites-button__count {border-color: $blue; color: $blue;}*/
}

.favorites-container {
	width: 1050px;
	margin: 0 auto;
}

.favorites {
	display: none;
	width: 100%;
	padding: 10px 0 20px 0;
	background: linear-gradient(to bottom, #F9F9F9, #FFFFFF);

	&-close {
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		font-size: 18/16*1rem;
		font-family: $gotham;
		color: $dark-gray;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 17px;
		cursor: pointer;
		outline: none;

		&__icon {
			width: 13px;
			height: 13px;
			fill: $dark-gray;
			margin-left: 13px;
		}

		&:hover {opacity: 0.7}
	}
}

.favorites-title-list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 15px;

	&__item {
		font-size: 18/16*1rem;
		font-family: $gotham;
		color: $dark-gray;
		cursor: pointer;

		&:hover {opacity: 0.7}

		&_active {
			padding-bottom: 2px;
			border-bottom: 1px solid $blue;
		}
	}
}

.favorites-table-list {
	width: 100%;

	&__item {
		display: none;
		&_active {
			display: block;
		}
	}
}


.favorites-table {
	width: 100%;

	&__head {
		width: 100%;
	}
	&__heading {
		padding: 0 15px;
		font-size: 14/16*1rem;
		font-family: $gotham;
		color: $dark-gray;
		text-align: center;
	}

	&__body {
		width: 100%;
	}
	&__row {
		width: 100%;
		border-bottom: 1px solid $dark-gray;

		&:last-child {
			border-bottom: 0;
		}
	}
	&__col {
		padding: 5px 15px;
		font-size: 1rem;
		font-family: $gothamMedium;
		color: $dark-gray;
		text-align: center;
		vertical-align: middle;

		a {
			color: $dark-gray;
			transition: all 0.2s;

			&:hover {
				color: $blue;
			}
		}

		.booking-button {
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			padding: 0 5px;

			&:hover {
				color: #fff;
			}
		}
	}
}

.favorites-table__heading, .favorites-table__col {
	&:first-child {
		padding-left: 0;
		text-align: left;
	}
	&:last-child {
		padding-right: 0;
	}
}

.favorites-table__booking-icon {
	width: 30px;
	height: 30px;
	fill: $dark-gray;
	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		fill: $blue;
	}

	&_smaller {
		width: 20px;
		height: 20px;
	}
}
/*end__favorite*/