@media screen and (max-width: 1080px) {
	.favorites-container {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.favorites-title-list {
		&__item {
			font-size: 1rem;
		}
	}

	.favorites-table {
		&__heading {
			padding: 10px;
		}

		&__col {
			padding: 5px 10px;
			font-size: 0.9rem;
		}
	}
}

@media screen and (max-width: 799px) {
	.nav-list {
		justify-content: flex-end;
		&__link {
			font-size: 0.6rem;
		}
	}

	.favorites-title-list {
		flex-direction: column;

		&__item {
			font-size: 0.9rem;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.favorites-table-list {
		overflow-x: scroll;

		&__item {
			width: 800px;
		}
	}
	.favorites-table__heading {
		font-size: 0.8rem;
		padding: 5px;
	}
	.favorites-table__col {
		font-size: 0.8rem;
		padding: 5px;
	}
}

@media screen and (max-width: 599px) {
	.logo__link {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 15px;
	}

	.nav-list {
		width: 100%;
		flex-wrap: wrap;
		justify-content: flex-start;

		&__item {
			margin-right: 0;
			box-sizing: border-box;
			margin-bottom: 10px;
			width: 50%;

			&:nth-child(2n) {
				padding-left: 5px; 

				&:after {
					display: none;
				}
			}
			&:nth-child(2n+1) {
				text-align: right;
				padding-right: 5px;
			}

			&:nth-child(3) {
				margin-bottom: 0;
			}
			&:nth-child(4) {
				margin-bottom: 0;
			}

			&:after {
				right: 0;
				height: 60%;
			}
		}

		&__link {
			display: inline-block;
			width: 100%;
			font-size: 0.67rem;
		}
	}

	@media screen and (max-width: 340px) {
		.nav-list__item {
			&:nth-child(3) {
				width: auto;
			}
			&:nth-child(4) {
				width: auto;
			}
		}
	}

	.header-content {
		margin-bottom: 15px;
	}
	.header__button-wrap {
		width: 100%;
		justify-content: center;
	}
	.header__button {
		padding: 0 10px;
		font-size: 14/16*1rem;
		line-height: 30px;
	}
}