body {
	background-color: #F9F9F9;
	/*background-color: #fff;*/
	font-family: $gotham;
	position: relative;
	min-height: 100vh;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	max-width: 1200px;
}

.button {
	position: relative;
	padding: 0 10px;
	line-height: 35px;
	background-color: transparent;
	border-radius: 5px;
	border-top: 2px solid $blue;
	border-bottom: 2px solid #91E2FB;
	border-left-color: transparent;
	border-right-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
	color: $dark-gray;
	font-family: $gothamMedium;
	font-size: 1rem;
	text-transform: uppercase;
	transition: all 0.1s;

	&:before, &:after {
		@extend %absolute-center_v;
		width: 2px;
		height: 98%;
		border-radius: 50%; 
		background: linear-gradient(to bottom, $blue, #91E2FB);
		content: " ";
	}

	&:before {
		left: -1px;
	}
	&:after {
		right: -1px;
	}

	&:hover {
		background: linear-gradient(to bottom, $blue, #91E2FB);
		color: #fff;
	}
}

.slider__button {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: none;
	transition: all 0.5s;
	cursor: pointer;

	&-next {
		right: 8%;
		transform: translateY(-50%) rotate(-180deg);
	}

	&-prev {
		left: 8%;
		transform: translateY(-50%);
	}

	&-icon {
		width: 40px;
		height: 40px;
		fill: #fff;
	}
}

/*location-block*/
.location {
	width: 100%;
	/*max-width: 1400px;*/
	margin: 0 auto;
	padding: 20px 0;
	background-color: #F6F6F7;
	margin-bottom: 37px;
}

.home-icon {
	width: 25px;
	height: 25px;
	fill: $dark-gray;
	z-index: 1;
}

.location-list {
	display: flex;
	align-items: center;

	&__item {
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		padding-left: 30px;

		&:first-child {
			padding-left: 20px;
			border-left: 1px solid $light-gray;
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			padding-right: 20px;
			border-right: 1px solid $light-gray;
			border-radius: 0 5px 5px 0;
		}

		&_active {
			background-color: $blue;

			a {
				color: #fff;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		color: $dark-gray;
		font-family: $gothamMedium;
		height: 32px;
		width: 100%;
		z-index: 1;
		padding-right: 12px;

		&:before {
			position: absolute;
			top: 4px;
			right: -1px;
			content: " ";
			transform: rotate(-45deg);
			width: 23px;
			height: 23px;
			border-right: 2px solid $light-gray;
			border-bottom: 2px solid $light-gray;
			background-color: #F6F6F7;
			z-index: -1;
		}

		&_last {
			padding-right: 0;
			&:before {display: none;}
		}

		&_active:before {
			background-color: $blue;
		}
	}
}
/*end__location-block*/

sup {
	vertical-align: super;
    font-size: .6rem;
}
.rooms__link {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid $blue;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $dark-gray;
}
