@media screen and (max-width: 1220px) {
	.container {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.logo__link {
		left: 10px;
	}

	.button {
		line-height: 30px;
	}

	.location {
		margin-bottom: 15px;
	}

	.building {
		width: 49%;

		&__heading {
			font-size: 1.2rem;
		}
	}
	.building-flats-list {
		&__num {
			width: 30px;
			height: 30px;
			font-size: 1rem;
		}
		&__text {
			font-size: 0.8rem;
		}
	}
	.building-info-list {
		&__text {
			font-size: 0.9rem;
		}
	}
}

@media screen and (max-width: 1023px) {
	.button {
		line-height: 20px;
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 799px) {
	.building {
		width: 100%;
	}
}

@media screen and (max-width: 599px) {
	.container {
		padding: 0 5px;
	}

	.button {
		font-size: 11/16*1rem;
		padding: 0 5px;
		letter-spacing: 0;
		background-size: 1px;
		border-top-width: 1px;
		border-bottom-width: 1px;  
	}

	.location-list {
		&__link {
			font-size: 0.5rem;
		}
	}
	.home-icon {
		width: 15px;
		height: 15px;
	}

	.building {
		width: 100%;
		padding: 20px 14px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-info {
			width: 100%;
			order: 1;
		}

		&__heading {
			font-size: 24/16*1rem;
			letter-spacing: 0;
		}

		&__image {
			&-wrap {
				order: 0;
				width: 215/317*100%;
				margin-bottom: 12px;
			}
		}
	}

	.building-flats-list {
		order: 2;

		&__item {
			width: 100%;
		}

		&__text {
			font-size: 1rem;
		}
	}
}