body {
	background-color: #F9F9F9;
	font-family: $gotham;
	position: relative;
	min-height: 100vh;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	max-width: 1200px;
}

.wrapper_centering	{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	line-height: 35px;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	color: $dark-gray;
	font-family: $gothamMedium;
	font-size: 1rem;
	text-transform: uppercase;
	transition: all 0.1s;
	outline: none;

	  border-top: 2px solid $blue;
	  border-bottom: 2px solid #91E2FB;
	  border-radius: 5px;
	  box-sizing: border-box;
	  background-position: 0 0, 100% 0;
	  background-repeat: no-repeat;
	  background-size: 2px 100%;
	  background-image: linear-gradient(to bottom, $blue 0%, #91E2FB 100%), linear-gradient(to bottom, $blue 0%, #91E2FB 100%);

	&:hover {
		background: linear-gradient(to bottom, $blue, #91E2FB);
		color: #fff;
	}
}
// .border-gradient {
//   border-top: 2px solid $blue;
//   border-bottom: 2px solid #91E2FB;
//   border-radius: 5px;
//   box-sizing: border-box;
//   background-position: 0 0, 100% 0;
//   background-repeat: no-repeat;
//   background-size: 2px 100%;
//   background-image: linear-gradient(to bottom, $blue 0%, #91E2FB 100%), linear-gradient(to bottom, $blue 0%, #91E2FB 100%);
// }

/*location-block*/
.location {
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	background-color: #F6F6F7;
	margin-bottom: 37px;
}

.home-icon {
	width: 25px;
	height: 25px;
	fill: $dark-gray;
	z-index: 1;
}

.location-list {
	display: flex;
	align-items: center;

	&__item {
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		padding-left: 30px;

		&:first-child {
			padding-left: 20px;
			border-left: 1px solid $light-gray;
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			padding-right: 20px;
			border-right: 1px solid $light-gray;
			border-radius: 0 5px 5px 0;
		}

		&_active {
			background-color: $blue;

			a {
				color: #fff;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		color: $dark-gray;
		font-family: $gothamMedium;
		height: 32px;
		width: 100%;
		z-index: 1;
		padding-right: 12px;

		&:before {
			position: absolute;
			top: 4px;
			right: -1px;
			content: " ";
			transform: rotate(-45deg);
			width: 22px;
			height: 22px;
			border-right: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
			background-color: #F6F6F7;
			z-index: -1;
		}

		&_last {
			padding-right: 0;
			&:before {display: none;}
		}

		&_active:before {
			background-color: $blue;
		}
	}
}
/*end__location-block*/

sup {
	vertical-align: super;
    font-size: .6rem;
}
.rooms__link {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid $blue;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $dark-gray;
}


/*building*/
.building {
	padding: 30px 9px;
	width: 576/1200*100%;
	border: 1px solid $light-gray;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	background-color: #fff;

	&-info {
		width: 320/559*100%;
	}

	&__heading {
		font-family: $gothamMedium;
    	font-size: 24/16*1rem;
    	color: $blue;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	margin-bottom: 3px;
	}

	&__location {
		font-family: $gotham;
    	font-size: 14/16*1rem;
		color: #000;
		margin-bottom: 10px;
	}

}
.building-info-list {
	&__item {
		padding: 8px 0;
		border-top: 1px solid $light-gray;
		display: flex;
		justify-content: space-between;
		
		&:last-child {
			border-bottom: 1px solid $light-gray;
		}
	}

	&__text {
		color: $dark-gray;
	}
}
.building__image {
	min-height: 100%;
	height: 100%;

	&-wrap {
		height: 180px;
		width: 215/559*100%;
		overflow: hidden;
	}
}
.building-flats-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*margin-top: 20px;*/

	&__item {
		width: 50%;
		display: flex;
		align-items: center;
		margin-top: 20px;
	}

	&__num {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24/16*1rem;
		font-family: $gothamLight;
		border: 1px solid $blue;
		border-radius: 50%;
		color: $dark-gray;
		text-transform: uppercase;
		margin-right: 5px;
	}

	&__text {
		font-size: 1rem;
		font-family: $gothamLight;
		color: $dark-gray;

		&_blue {
			color: $blue;
			margin-right: 3px;
		}
	}
}
/*end__building*/

/*pagination*/
.pagination {
	display: none;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 9px 0;
    border: 1px solid $light-gray;
    box-sizing: border-box;

    &__button {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-family: $gothamLight;
        font-size: 18/16*1rem;
        border: 1px solid $blue;
        border-radius: 5px;

        &:hover {
            color: $blue;
        }
    }

    &__icon {
        width: 15px;
        height: 15px;
        fill: #000;

        &_revers {
            transform: rotate(-180deg);
        }
    }

    &__text {
        font-family: $gothamLight;
        color: $gray;

        &_medium {
            font-family: $gothamMedium;
        }
    }

    &__link {
        display: flex;
        align-items: center;
    }
}
.pagination-prev:hover, .pagination-next:hover {
    .pagination__icon {
        fill: $blue;
    }
}
.pagination-prev__button{
    margin-right: 14px;
}
.pagination-next__button {
    margin-left: 14px;
}
.pagination-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination-num-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
    	position: relative;
        margin-right: 11px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link_active {
    	color: $blue;
    }

    &__dot_right {
    	margin-right: 21px;
    	&:after {
			position: absolute;
			right: -16px;
			bottom: 0;
			color: $dark-gray;
			content: "...";
    	}
    }
    &__dot_left {
    	margin-left: 10px;
    	&:before {
			position: absolute;
			left: -16px;
			bottom: 0;
			color: $dark-gray;
			content: "...";
    	}
    }
}
/*end__pagination*/


/*the container must be positioned relative:*/
.home-filter__select-wrap {
  position: relative;
  font-family: Arial;
}
.home-filter__select-wrap select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
	padding-right: 22px;
    background: url(../img/home/select-arrow.png) right center no-repeat;
}

.result-list-top {
	.select-selected {
		border: 1px solid $yellow;
		border-radius: 5px;
		padding: 4px 50px 4px 14px;
		background: url(../img/filter/result-select-bg.png) right center no-repeat;
	    background-color: #fff;
	}
	.select-items {
		min-width: 90px;
		max-width: 90px;
		left: 110px;
	}
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  color: $dark-gray;
  font-family: $gotham;
  font-size: 1rem;
  cursor: pointer;
}
.select-items div {
	padding: 10px 0 5px 5px;
	box-sizing: border-box;
	border-bottom: 1px solid $light-gray;

	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}
/*style items (options):*/
.select-items {
  position: absolute;
  min-width: 123px;
  padding: 12px 7px;
  box-sizing: border-box;
  box-shadow: 3px 2px 10px rgba(0,0,0,0.2);
  border-radius: 7px;
  background-color: #fff;
  margin-top: 8px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  color: $blue;
}